/*
 @use apply.css
 @date 2012.10.21
*/

.apply-tab{margin:30px 100px 50px;border-bottom:1px solid #ccc;}
.apply-tab li{float:left;display:inline;width:250px;padding-bottom:4px;text-align:center;}
.apply-tab span{display:block;padding:20px 0;height:20px;line-height:20px;color:#333;font-size:16px;}
li.apply-tab-current  span{border-bottom:1px solid #ccc;font-weight:bold;}
.apply-tabcon{margin:0 100px;padding-bottom:50px;}
.apply-tabcon-li{display:none;}
.iron-list{}
.iron-list li{float:left;display:inline;width:200px;}
.iron-list li img{display:block;width:200px;height:160px;}
.iron-list li span{display:block;margin-top:4px;line-height:22px;color:#666;}
.iron-list li.arrow{width:75px;}
.iron-list li.arrow img{width:auto;height:auto;margin:60px auto 0;}
.iron-list li.arrow-down{width:200px;margin:28px 0 30px 550px;}
.iron-list li.arrow-down img{width:auto;height:auto;margin:0 auto;}

.customdesign-list li{margin:0 0 40px 50px;}
.customdesign-list li img{float:left;display:inline;}
.customdesign-list li img.flow-pic{width:250px;height:250px;}
.customdesign-list li img.flow-arrow{width:40px;height:40px;margin:105px 50px 0 50px;}
